body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-size: cover;
  text-align: center;
  background-image: url(images/blackjack.jpg);
  height: 90vh;
  font-size: 30px;
  color: antiquewhite;
}

h1 {
  color: goldenrod;
  font-size: 80px;
}

#message-el {
  color: antiquewhite;
  font-size: 50px;
  font-style: italic;
  font-weight: bolder;
}

#card {
  color: antiquewhite;
  font-size: 30px;
}

#btn1 {
  font-size: 35px;
  border-radius: 5px;
  border-style: double;
  border-color: rgb(115, 93, 39);
  background-color: antiquewhite;
  color: rgb(115, 93, 39);
  width: 50vh;
  margin-bottom: 5px;
}
